<div class="max-w-72 rounded-3xl bg-white shadow-xl overflow-hidden flex flex-col cursor-pointer hover:bg-gray-100" (click)="onCartaSeleccionada()">
    @if (loading) {
        <div class="w-full h-32 flex items-center justify-center">
           <div class="loader"></div>
        </div>
    }@else {
        <img [src]="img" class="w-full h-32">
    }
    <div class="flex items-center px-4 py-2">
        <img src="https://flagsapi.com/{{pais.code}}/flat/64.png" class="w-auto h-8 max-w-full">
        <div class="flex flex-col ml-2">
            <span>{{pais.name}}</span>
            <span>{{pais.continent.name}}</span>
        </div>
    </div>
</div>