<div class="fixed top-1/2 right-0 transform -translate-y-1/2 bg-white border border-gray-300 rounded-lg shadow-lg p-4 w-80 h-auto">
  <div class="flex flex-col">

    <div class="ml-auto">
      <button type="button" (click)="close()"
        class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none rounded-full text-sm p-1 text-center inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-close">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
    
    <img [src]="img" class="w-full h-32">

    <div class="flex items-center">
      <img src="https://flagsapi.com/{{selectedCountry.code}}/flat/64.png" class="w-auto h-12 max-w-full">
      <div class="flex flex-col">
        <span>{{ selectedCountry?.name }}</span>
        <span>{{ selectedCountry?.continent?.name }}</span>
      </div>
    </div>

    <div class="flex flex-col">

      <div class="flex justify-between">
        <span class="font-bold text-blue-500">Capital:</span>
        <span class="text-gray-500">{{pais.capital}}</span>
      </div>

      <div class="flex justify-between">
        <span class="font-bold text-blue-500">Language:</span>
        <span class="text-gray-500">{{pais.languages | languages}}</span>
      </div>

      <div class="flex justify-between">
        <span class="font-bold text-blue-500">Population:</span>
        <span class="text-gray-500">{{pais2.population | population}}</span>
      </div>

      <div class="flex justify-between">
        <span class="font-bold text-blue-500">Currency:</span>
        <span class="text-gray-500">{{pais.currency}}</span>
      </div>

      @if (pais.states?.length > 0) {
        <span class="font-bold text-blue-500">Estates:</span>
        <div class="max-h-24 overflow-y-auto bg-white shadow-lg">
          <ul>
            @for (item of pais.states; track $index) {
              <li>{{item.name}}</li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</div>